name: Deploy to VPS

on:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to Server
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.PRIVATE_KEY }}
          port: 48291
          script: |
            cd ${{ secrets.DEPLOY_PATH }}
            git fetch --all --tags
            git reset --hard origin/main
            composer install --no-dev --optimize-autoloader
            php artisan migrate --force
            php artisan optimize:clear
